# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.ipynb

# Ignore virtual environment directories
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

map.html
default_map.html
received.xml