<!-- cody.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' }">
</head>
<body>
    <div class="w-full h-36 flex flex-row justify-start justm-4 p-4">

        <div class="w-3/4 h-full bg-sky-400 p-2">
            <p class="text-white text-xl">{{ message }}</p>
            <h1>List of Users</h1>
        
            </ul>    
        </div>
    </div>
</body>

