{% extends 'template.html' %}

{% block title %}Upload File{% endblock %}

{% block header %}View Live Map{% endblock %}

{% block content %}
    <!-- Upload File Section -->
    <div class="form-section">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload and Continue</button>
        </form>
    </div>

    <!-- Default Map Section -->
    <div class="default-map-section">
        <p class="upload_font">Default File:</p>
        <button>
            <a href="/default_map">Continue</a>
        </button>
    </div>
{% endblock %}
