* {
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes default margin */
}

.logo-container {
    background-image: url("{% static 'sprites/logo.png' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* Font Sizes */
h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}
label, 
input[type="file"],
button {
    font-size: 1rem;
}

/* Spacing and Border Radius */
.container {
    max-width: 600px;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-section,
.default-map-section {
    padding: 25px;
    border-radius: 8px;
}

.form-section {
    background-color: #e9f7ef;
    border: 1px solid #b2d8c8;
}

.default-map-section {
    background-color: #f2f2f2;
    border: 1px solid #dcdcdc;
}

/* Label Styling */
.form-section label,
.default-map-section p {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
    text-align: center;
}

/* Input Field Styling */
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Submit Button */
.form-section button[type="submit"] {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border: none;
    margin-top: 15px;
    width: 100%;
}

.form-section button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Continue Without File Button */
.default-map-section button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 15px;
}

.default-map-section button:hover {
    background-color: #218838;
}

/* Link Styling */
.default-map-section button a {
    color: white;
    text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    container {
        padding: 15px; 
    }

    .form-section, .default-map-section {
        padding: 15px;
    }

    img {
        width: 50%; 
    }
}



img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: #555;
    padding: 20px 0;
    background-color: #f1f1f1;
    margin-top: 40px;
}
